:root {
  --primary-color: #842f39;
  --secondary-color: #b28a90;
  --support-color: #8c676c;
  --accent-one: #f59b34;
  --gray-one: #2b2b2b;
  --gray-two: #414042;
  --gray-three: #58595b;
  --gray-four: #e6e7e8;
}

/*
Colors used:
Primary Color (Red): #752d2c;
Primary Color (Hover): #d59190
Primary Color (Dark Gray): #414042;
Secondary Color (Medium Gray): #949598;
Secondary Color (Light Gray): #e6e7e8;
Secondary Color (White): #ffffff;
*/


/* Core Styles */
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: var(--gray-two);
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 2em;
  font-weight: 500;
}

h4 {
  font-size: 1.15em;
  font-weight: 400;
}

p {
  font-size: 1.1em;
  font-weight: 200;
}

ol,
ul {
  font-size: 1.1em;
  font-weight: 200;
  text-decoration: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:visited { 
  color: #e6e7e8;
}

a:hover,
a:focus {
  color: #d59190;
  text-decoration: underline; 
}

a:active { 
  color: #949598;
}

img {
  width: 100%;
}



/* Utilities */

.color-primary {
  color: var(--primary-color);
}

.color-gray-one {
  color: var(--gray-one);
}

.color-gray-four {
  color: var(--gray-four);
}

.pad-20 {
  padding-top: 20px;
}

.pad-50 {
  padding-top: 50px;
}

.pad-80 {
  padding-top: 80px;
}

.pad-100 {
  padding-top: 100px;
}

.pad-120 {
  padding-top: 120px;
}

.back-color {
  display: block;
  margin: auto;
  font-weight: 400;
  font-size: 2em;
  color: var(--gray-four);
  background: var(--primary-color);
  padding-bottom: 6px;
  width: 60%;
  border-radius: 5px;
}


.button {
  display: inline-block; 
  background-color: var(--primary-color);
  color: #fff; 
  font-weight: 700;
  padding: 10px;
  border-bottom: 2px solid #994c30; 
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:visited {
  opacity: 0.8; 
  text-decoration: none;
  color: #949598;
}

.button1 {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  text-transform: uppercase;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button2 {
  display: inline-block;
  background-color: var(--gray-three);
  color: var(--gray-four);
  font-weight: 400;
  padding: 10px;
  text-transform: uppercase;
}

.button1:hover {
  opacity: 0.6;
  background-color: #414042;
  text-decoration: none;
  color: #fff;
}





/* Header & Nav Bar */
header {
  background-color: var(--primary-color);
  padding: 15px 10px 10px;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.16);
  position: fixed;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  background-color: var(--primary-color);
}

nav > ul > li > a:visited {
  color: #949598;
}

nav > ul > li > a:hover {
  color: #d59190;
  text-decoration: none;
}

nav > ul > li > a:active {
  color: #414042;
}

main {
  padding-top: 40px;
}

#main-projects {
  padding-top: 100px;
}

footer {
  background-color: var(--gray-one);
  text-align: center;
  padding: 15px 0;
}





/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px;
  overflow: auto;
}

.rowcenter {
  text-align: center;
  margin: 15px;
  overflow: auto;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero {
  background: url('../img/globe2.jpg') no-repeat center center/cover;
  background-color: var(--gray-one);
  padding: 90px 0 40px;
  display: inline-block;
  width: 100%;

}

#hero h1 {
  text-align: center;
  color: var(--primary-color);
}

#hero h2, h3 {
  text-align: center;
  color: #fff;
}

#about {
  padding-top: 80px;
}

#projects {
  padding-top: 110px;
}

.center {
  text-align: center;
  padding-top: 10px;
}

.skills {
  text-align: center;
  padding-top: 10px;
  margin-top: 40px;
}

.left {
  text-align: left;
}

.logo {
  max-width: 90px;
  text-align: center;
}

.social {
  max-width: 60px;
  margin: auto;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  padding-right: 0;
  right: 0;
  top: 2px;
  font-size: 30px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.col-md-6 ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.listfix li {
  margin-bottom: 10px;
}

.img-width {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}





/* Contact Page */

.contact {
  width: 100%;
  padding: 70px 0 40px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--gray-three);
  font-family:'Roboto Condensed', sans-serif;
  font-size: 1em;
}

textarea {
  display: block;
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--gray-three);
  font-family:'Roboto Condensed', sans-serif;
  resize: none;
  font-size: 1em;
}

.contact h1 {
  text-align: center;
  font-size: 3em;
  font-weight: 900;
}

.contact p {
  text-align: left;
  font-size: 1.1em;
  font-weight: 200;
}

.contact label {
  text-align: left;
  font-size: 1.2em;
}

.contact .btn {
  width: 200px;
  display: block;
  margin: auto;
}





/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  main {
    padding-top: 80px;
  }

  body {
    font-size: 18px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 20px;
  }

  .left {
    margin-top: 0;
  }

  nav > ul {
    list-style-type: none;
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  #hero {
    background-color: #e6e7e8;
    padding: 50px 0 40px;
    display: inline-block;
    width: 100%;
  }

  #about {
    padding: 20px 0 0;
  }

  #projects {
    padding-top: 80px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 0 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .logo {
    max-width: 100px;
    padding-top: 6px;
    text-align: center;
    float: left;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li {
    display: block;
    padding: 0;
    border-top: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  #about h3 {
    margin-top: 0;
  }

  .contact {
    width: 80%;
    margin:auto;
    padding: 40px 0 40px;
  }
}




/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  main {
    padding-top: 120px;
  }

  #main-projects {
    padding-top: 130px;
  }
  
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  body {
    font-size: 20px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 25px;
  }

  .logo {
    max-width: 130px;
    padding-top: 2px;
    text-align: center;
    float: left;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #projects {
    padding-top: 70px;
  }

  .contact {
    padding: 20px 0 40px;
  }

  .contact label {
    font-size: 1.1em;
  }

  .contact {
    width: 60%;
    margin:auto;
  }

}